@import "@styles/variables.scss";
@import "@styles/mixins/mixins";

.card-book-btn {
  min-width: 135px;
  align-self: center;
  margin: 10px 20px;
  padding: 0.6rem 1rem;
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  @include borderRadius(5px);
  @include transition(0.25s);
  color: $color-white;
}

.add-to-cart-btn {
  background: $color-green300;

  &:hover {
    background: lighten($color-green300, 4%);
    box-shadow: 0 0 3px 1px $color-green300;
  }
}
