@import "@styles/variables.scss";
@import "@styles/mixins/mixins";

.card-book-btn {
  width: 200px;
  align-self: center;
  margin: 10px 20px;
  padding: 0.6rem 1rem;
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  @include borderRadius(5px);
  @include transition(0.25s);
  color: $color-white;
}

.add-to-cart-btn {
  background-color: $color300;

  &:hover {
    background-color: lighten($color300, 5%);
    box-shadow: 0 0 3px 1px $color300;
  }
}

.remove-from-cart-btn {
  background-color: $color400;

  &:hover {
    background-color: lighten($color400, 5%);
    box-shadow: 0 0 5px 0 $color400 inset, 0 0 3px 1px $color400;
  }
}
