.cart-container {
}

.cart {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;

  &__book {
    display: flex;
    box-shadow: 1px 2px 8px #deb887;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &__wrapper-image {
      flex-shrink: 0;
      width: 140px;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      padding: 1rem 0.8rem;
      gap: 0.5rem;
    }
  }
}
