@import "@styles/variables.scss";
@import "@styles/mixins/mixins";

.cart-container {
}

.cart {
  display: flex;
  flex-flow: row wrap;
  gap: 28px;
  font-size: 1.05rem;
  line-height: 1.3;

  &__book {
    display: flex;
    height: 200px;
    box-shadow: 0px 0px 8px $color-grey;
    color: $color-black;
    @include borderRadius(6px);
    @include transition(0.3s);
    @include gradient250(180deg);
    cursor: default;

    &:hover {
      box-shadow: 0px 0px 7px lighten($color-grey, 20%);
    }

    &__wrapper-image {
      flex-shrink: 0;
      width: 140px;
      height: 100%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        @include borderRadius(6px);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      padding: 4px 6px 14px;
      gap: 7px;

      .article {
        font-size: 1rem;
        text-align: right;
      }

      .genre,
      .age-category {
        font-style: italic;
      }

      .genre {
      }

      .age-category {
      }

      .price {
        text-align: center;
      }
    }

    .icon-group {
      display: flex;
      padding: 14px 0;
      .move-to-trash-icon {
        align-self: flex-end;
      }
    }
  }
}
