$color100: #f7a110;
$color200: #fbd485;
$color300: #0a7272;
$color400: #76a05e;
$color500: #b2bdc7;
$color600: #2c555b;
$gradient100: linear-gradient(90deg, $color100, $color200);
$gradient200: linear-gradient(35deg, #ccd5ae, #fefae0, #faedcd);
$gradient300: linear-gradient(#bdce45, #4e8c32);
$gradient400: linear-gradient(90deg, #edede9, #f5ebe0, #d5bdaf);
$gradient500: linear-gradient(90deg, #ffffff, #f4f0e3, #ede6d0, #bbecb6);
$gradient600: linear-gradient(90deg, #afd9f7, #f0f2ff);
$gradient700: linear-gradient(
  90deg,
  #faf594,
  #faf5a0,
  #fcf9b5,
  #faf7c5,
  #fffdda
);
$gradient800: linear-gradient(90deg, #b7d132, #e5f3a0, #ffffff);

$color-white: #ffffff;
$color-black: #000;
$color-black100: #090909;
$color-black200: #191919;
$color-black300: #292929;
$color-black400: #393939;
$color-dark: #202020;
$color-darkgrey: #3d3d3d;
$color-grey: #474747;
$color-blue: #2185d0;
$color-green: #34b552;
$color-green100: #80b541;
$color-green200: #94c45b;
$color-green300: #7bb736;
$color-brown100: #b06331;
$color-brown200: #9f4b14;
$color-yellow: #f8ffa7;
$color-gold100: #f6d676;
$color-gold200: #d8a63e;
$color-gold300: #a57510;
$color-darkturquoise: #097e89;
$color-bg-nav: #ff8322;
$color-bg-test: #d3e972;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$transition: all 0.5s ease-in-out;
