$color100: #f7a110;
$color200: #fbd485;
$color300: #0a7272;
$color400: #76a05e;
$color500: #b2bdc7;
$color600: #2c555b;
$gradient100: linear-gradient(90deg, $color100, $color200);
$color-white: #ffffff;
$color-black: #202020;
$color-darkgrey: #3d3d3d;
$color-grey: #474747;
$color-darkturquoise: #097e89;
$color-bg-nav: #ff8322;
$color-bg-test: #d3e972;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$transition: all 0.5s ease-in-out;
