@import "@styles/variables.scss";
@import "@styles/mixins/mixins";

.books-list-item {
  &__container {
    display: flex;
    padding: 0.7rem 1rem 1rem;
    flex-basis: 270px;
    flex-shrink: 0;
    flex-direction: column;
    row-gap: 5px;
    font-size: 1.1rem;
    text-align: center;
    color: $color-black;
    box-shadow: 0px 0px 8px $color-grey;
    @include borderRadius(6px);
    @include transition(0.3s);
    @include gradient100(35deg);
    cursor: default;

    &:hover {
      box-shadow: 0px 0px 7px lighten($color-grey, 20%);
    }

    .title {
      margin-bottom: 8px;
      padding: 0.5rem;
      font-size: 1.1rem;
      color: $color-white;
      background-color: $color600;
      @include borderRadius(6px);
    }

    .wrapper-image {
      width: 82%;
      height: 190px;
      margin: 0 auto;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        @include borderRadius(6px);
      }
    }

    .info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      gap: 3px;

      .author {
        margin-bottom: 0.5rem;
        font-size: 1.05rem;
        font-weight: bold;
        line-height: 1.6;
      }
      .genre {
        text-align: left;
      }
      .age {
        text-align: left;
      }
      .description {
        height: 95px;
        overflow: hidden;
        text-align: left;
        line-height: 1.2;
      }
      .price {
        margin-top: 0.5rem;
      }
    }
  }
}
