@import "@styles/variables.scss";
@import "@styles/mixins/mixins";

.books-list-item {
  box-shadow: 0px 0px 3px $color-grey;
  @include borderRadius(6px);
  @include gradient100(35deg);
  cursor: default;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    padding: 5px;
    margin-bottom: 4px;
    color: $color-white;
    background-color: $color600;
    @include borderTopLeftRadius(6px);
    @include borderTopRightRadius(6px);
  }

  &__container {
    display: flex;
    padding: 0 8px;
    flex-basis: 270px;
    flex-shrink: 0;
    flex-direction: column;
    row-gap: 4px;
    font-size: 1.1rem;
    text-align: center;
    color: $color-black;

    .wrapper-image {
      width: 72%;
      height: 150px;
      margin: 0 auto;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        @include borderRadius(6px);
      }
    }

    .info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      gap: 3px;

      .author {
        margin-bottom: 0.5rem;
        font-size: 1.05rem;
        font-weight: bold;
        line-height: 1.6;
      }
      .genre {
        text-align: left;
      }
      .age {
        text-align: left;
      }
      .description {
        height: 95px;
        overflow: hidden;
        text-align: left;
        line-height: 1.2;
      }
      .price {
        margin-top: 0.5rem;
      }
    }
  }
}
