@import "@styles/variables.scss";

@mixin borderRadius($number) {
  border-radius: $number;
  -webkit-border-radius: $number;
  -moz-border-radius: $number;
  -ms-border-radius: $number;
  -o-border-radius: $number;
}

@mixin borderTopLeftRadius($number) {
  border-top-left-radius: $number;
}

@mixin borderTopRightRadius($number) {
  border-top-right-radius: $number;
}

@mixin transition($time) {
  transition: all $time ease-in-out;
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
}

@mixin gradient100($deg) {
  background: linear-gradient($deg, $color100, $color200);
}

@mixin gradient200($deg) {
  background: linear-gradient($deg, #ccd5ae, #fefae0, #faedcd);
}

@mixin gradient300($deg) {
  background: linear-gradient($deg, #bdce45, #4e8c32);
}

@mixin gradient400($deg) {
  background: linear-gradient($deg, #edede9, #f5ebe0, #d5bdaf);
}
@mixin gradient500($deg) {
  background: linear-gradient($deg, #ffffff, #f4f0e3, #ede6d0, #bbecb6);
}
@mixin gradient600($deg) {
  background: linear-gradient($deg, #afd9f7, #f0f2ff);
}
@mixin gradient700($deg) {
  background: linear-gradient(
    $deg,
    #faf594,
    #faf5a0,
    #fcf9b5,
    #faf7c5,
    #fffdda
  );
}
@mixin gradient800($deg) {
  background: linear-gradient($deg, #b7d132, #e5f3a0, #ffffff);
}
